# 패키지 로딩

In [1]:
import numpy as np
import pandas as pd

import warnings

warnings.filterwarnings("ignore")

# 데이터 로딩

## 서울시 구별 남녀 인구수
- 출처: 통계청 행정구역(시군구)별 성별 인구수
- 데이터 분류: 월별 데이터
- 기간: 2014년 3월 ~ 2024년 2월 (120개월, 10년치)

In [121]:
df1 = pd.read_csv("./data/서울시 구단위 남녀 인구수.csv", header=[0, 1], encoding="cp949")
df1

          시점       종로구                  중구                 용산구            \
          시점 남자인구수 (명) 여자인구수 (명) 남자인구수 (명) 여자인구수 (명) 남자인구수 (명) 여자인구수 (명)
0    2014.03     79153     80398     65029     64911    116309    123072
1    2014.04     78943     80366     64922     64818    116127    122874
2    2014.05     78821     80269     64842     64801    116034    122886
3    2014.06     78678     80143     64745     64685    115857    122666
4    2014.07     78394     79990     64638     64598    115651    122400
..       ...       ...       ...       ...       ...       ...       ...
115  2023.10     67466     72140     58720     62580    103398    111999
116  2023.11     67393     72104     58631     62599    102925    111456
117  2023.12     67306     72111     58659     62653    102312    110839
118  2024.01     67240     72138     58651     62671    101793    110382
119  2024.02     67266     72205     58711     62708    101262    109985

          성동구                 광진구  ...       관악구                 서초구  \
    남자인구수 (명) 여자인구수 (명) 남자인구수 (명)  ... 남자인구수 (명) 여자인구수 (명) 남자인구수 (명)
0      149232    150184    181376  ...    262185    255598    214053
1      149265    150337    181154  ...    262211    255479    213806
2      149203    150318    180923  ...    261951    255363    213802
3      149082    150246    180666  ...    261623    255125    214062
4      148906    150133    180365  ...    261331    254772    214625
..        ...       ...       ...  ...       ...       ...       ...
115    134979    143056    161662  ...    243673    240286    194384
116    134760    142941    161430  ...    242985    239707    194526
117    134519    142842    161277  ...    242651    239305    194291
118    134390    142700    161154  ...    242598    239274    194231
119    134278    142674    161022  ...    242703    239131    194232

                    강남구                 송파구                 강동구
    여자인구수 (명) 남자인구수 (명) 여자인구수 (명) 남자인구수 (명) 여자인구수 (명) 남자인구수 (명) 여자인구수 (명)
0      229619    271343    293959    328684    343612    240832    241375
1      229424    272032    294722    328202    343229    240526    241073
2      229551    272775    295503    327978    342999    240192    240886
3      229878    272991    295876    327710    342833    240008    240797
4      230563    273642    296689    327287    342586    239638    240425
..        ...       ...       ...       ...       ...       ...       ...
115    213404    258897    282668    314985    340315    223930    234362
116    213572    258700    282430    314665    340180    224240    234584
117    213373    260520    284353    314347    339819    224423    234744
118    213537    262618    286536    314189    339800    224450    234939
119    213764    264695    288860    314043    339879    224986    235529

[120 rows x 51 columns]

## 서울시 연령대별 남녀 인구수
- 출처: 통계청 시군구 성 연령 5세 별 주민등록연앙인구
- 데이터 분류: 연간 데이터
- 기간: 2014년 ~ 2023년 (10년치)

### 남자 인구수

In [3]:
df2 = pd.read_csv("./data/서울시 구단위 연령별 인구수_남.csv", index_col=[0, 1],encoding="cp949")
df2

                  종로구      중구     용산구      성동구      광진구     동대문구      중랑구  \
시점   연령별
2014 0 - 4세    2323.5  2396.5  4647.0   6336.0   7004.5   7055.5   8188.0
     5 - 9세    2635.0  2002.5  4317.0   5819.0   6641.0   6728.5   7464.0
     10 - 14세  3587.0  2211.5  4874.5   6159.5   8402.0   7613.5   8906.0
     15 - 19세  4756.5  3073.0  6236.0   7955.5  11172.0   9778.0  12599.0
     20 - 24세  5683.5  4253.0  7034.5  10507.5  13424.0  13270.5  14814.5
...               ...     ...     ...      ...      ...      ...      ...
2023 80 - 84세  1789.0  1445.0  2226.0   2741.5   3092.0   3882.0   4169.0
     85 - 89세   824.0   568.0  1070.0   1103.0   1197.5   1571.0   1586.0
     90 - 94세   233.0   177.5   331.0    271.0    303.5    371.0    340.0
     95 - 99세    53.5    40.0    58.5     49.5     60.5     54.0     69.5
     100세 이상      8.5     5.5     7.0     11.0     12.0     10.0      7.0

                   성북구      강북구      도봉구  ...      강서구      구로구     금천구  \
시점   연령별                                  ...
2014 0 - 4세     9813.0   6353.5   6921.0  ...  13225.5  10672.5  4503.5
     5 - 9세    10355.0   6007.0   6953.5  ...  11911.0   9201.5  4099.5
     10 - 14세  11366.0   7479.0   8721.5  ...  13605.5   9310.5  4928.5
     15 - 19세  13328.0   9843.5  11778.0  ...  17184.5  11547.5  7077.5
     20 - 24세  16137.0  10972.5  12907.5  ...  19673.5  13505.5  8449.0
...                ...      ...      ...  ...      ...      ...     ...
2023 80 - 84세   4757.0   4090.0   4071.0  ...   4760.5   4198.5  2399.5
     85 - 89세   1918.0   1646.0   1564.0  ...   1852.5   1552.5   853.0
     90 - 94세    486.5    359.5    406.5  ...    510.5    363.0   220.0
     95 - 99세     68.0     59.0     83.0  ...     88.0     52.0    30.0
     100세 이상      10.5     11.5     10.5  ...     14.0      6.5     8.0

                  영등포구      동작구      관악구      서초구      강남구      송파구      강동구
시점   연령별
2014 0 - 4세     8248.0   8788.0   9393.0  10577.5  10977.5  14877.0  10386.0
     5 - 9세     7452.5   7982.5   8477.0  10777.5  11059.0  14830.5  10068.0
     10 - 14세   7882.5   8544.0   9425.5  12443.5  15536.0  17908.5  11994.0
     15 - 19세  10040.0  10963.0  12392.5  14538.5  22022.5  21583.0  16067.5
     20 - 24세  12050.0  14382.5  18458.5  14248.0  19957.0  23042.0  17462.5
...                ...      ...      ...      ...      ...      ...      ...
2023 80 - 84세   3736.5   4138.5   5166.0   3577.5   4548.0   5029.5   3822.5
     85 - 89세   1651.5   1638.0   1824.0   1501.0   1772.0   1982.5   1365.0
     90 - 94세    420.5    407.0    389.0    416.0    491.0    522.0    350.5
     95 - 99세     66.0     79.0     52.0     82.5     99.5    103.0     61.0
     100세 이상      10.0     11.5      9.5      8.5     13.5     14.5     13.0

[210 rows x 25 columns]

### 여자 인구수

In [4]:
df2 = pd.read_csv("./data/서울시 구단위 연령별 인구수_여.csv", index_col=[0, 1],encoding="cp949")
df2

                  종로구      중구     용산구     성동구      광진구     동대문구      중랑구  \
시점   연령별
2014 0 - 4세    2175.5  2276.5  4521.5  6052.0   6633.0   6691.0   7751.0
     5 - 9세    2402.5  2004.5  4273.0  5532.0   6445.0   6391.0   7108.0
     10 - 14세  3296.5  2079.0  4629.5  6107.0   7736.0   7208.5   8367.5
     15 - 19세  4362.5  2872.0  5579.0  7693.5  10620.0   9264.0  11467.0
     20 - 24세  5593.5  4138.5  7295.5  9937.0  13674.0  12571.0  14325.0
...               ...     ...     ...     ...      ...      ...      ...
2023 80 - 84세  2504.0  2134.0  3351.5  3991.5   4104.5   5422.0   5809.5
     85 - 89세  1359.0  1232.0  2028.5  2143.0   2178.5   2750.0   2812.0
     90 - 94세   491.0   498.5   757.0   720.0    780.0    918.5   1060.5
     95 - 99세   136.0   121.5   176.0   155.5    196.5    211.5    270.5
     100세 이상     22.5    20.0    37.5    29.5     27.5     45.0     36.0

                   성북구      강북구      도봉구  ...      강서구      구로구     금천구  \
시점   연령별                                  ...
2014 0 - 4세     9382.0   6022.0   6299.5  ...  12832.5  10309.5  4266.5
     5 - 9세     9703.5   5707.0   6528.5  ...  11411.0   8608.5  3998.5
     10 - 14세  10618.0   6815.5   8243.0  ...  12874.0   8630.5  4691.0
     15 - 19세  12618.0   9042.0  10708.0  ...  15917.0  10565.0  6420.0
     20 - 24세  16503.5  10742.0  12068.5  ...  19174.5  12928.5  7939.5
...                ...      ...      ...  ...      ...      ...     ...
2023 80 - 84세   6812.5   5921.0   5602.0  ...   6888.0   5449.0  3184.5
     85 - 89세   3433.5   2669.0   2862.0  ...   3842.0   2734.5  1547.0
     90 - 94세   1240.5    884.5   1095.5  ...   1592.5    973.0   542.0
     95 - 99세    324.5    217.5    254.5  ...    423.5    249.0   124.5
     100세 이상      38.5     29.0     37.0  ...     59.0     34.5    22.0

                  영등포구      동작구      관악구      서초구      강남구      송파구      강동구
시점   연령별
2014 0 - 4세     7975.5   8231.0   9036.0   9991.5  10310.0  14120.0   9755.5
     5 - 9세     6916.5   7410.0   8042.5  10256.5  10426.0  13882.5   9227.5
     10 - 14세   7118.5   7961.5   8665.5  11927.0  13909.0  16690.0  10747.5
     15 - 19세   9227.5  10192.5  11576.5  13480.5  19238.0  20477.0  13908.5
     20 - 24세  12128.0  14280.5  19390.5  14052.0  19917.0  22116.5  15696.0
...                ...      ...      ...      ...      ...      ...      ...
2023 80 - 84세   5026.0   5231.5   6462.5   3978.0   5016.0   6147.0   4861.0
     85 - 89세   2711.0   2820.5   2929.5   2214.5   2798.5   3505.5   2639.5
     90 - 94세    961.0   1042.5   1042.0    943.5   1286.0   1606.5   1177.0
     95 - 99세    213.5    257.0    250.0    271.0    365.0    401.5    291.0
     100세 이상      33.5     34.5     41.5     42.0     58.5     65.0     56.0

[210 rows x 25 columns]

# 데이터 전처리

## 서울시 구단위 남녀 인구수

- 시점 pd.datetime으로 변경

In [33]:
# 데이터 타입 확인: float64
df1[("시점", "시점")].info()

<class 'pandas.core.series.Series'>
RangeIndex: 120 entries, 0 to 119
Series name: ('시점', '시점')
Non-Null Count  Dtype
--------------  -----
120 non-null    float64
dtypes: float64(1)
memory usage: 1.1 KB

In [122]:
# float -> stirng -> pd.to_datetime()
df1[("시점", "시점")] = df1[("시점", "시점")].apply(lambda x: pd.to_datetime(str(x)))

df1 = df1.set_index(df1[("시점", "시점")]) 
df1 = df1.drop(('시점', '시점'), axis = 1)
df1

                 종로구                  중구                 용산구            \
           남자인구수 (명) 여자인구수 (명) 남자인구수 (명) 여자인구수 (명) 남자인구수 (명) 여자인구수 (명)
(시점, 시점)
2014-03-01     79153     80398     65029     64911    116309    123072
2014-04-01     78943     80366     64922     64818    116127    122874
2014-05-01     78821     80269     64842     64801    116034    122886
2014-06-01     78678     80143     64745     64685    115857    122666
2014-07-01     78394     79990     64638     64598    115651    122400
...              ...       ...       ...       ...       ...       ...
2023-01-01     67466     72140     58720     62580    103398    111999
2023-11-01     67393     72104     58631     62599    102925    111456
2023-12-01     67306     72111     58659     62653    102312    110839
2024-01-01     67240     72138     58651     62671    101793    110382
2024-02-01     67266     72205     58711     62708    101262    109985

                 성동구                 광진구            ...       관악구            \
           남자인구수 (명) 여자인구수 (명) 남자인구수 (명) 여자인구수 (명)  ... 남자인구수 (명) 여자인구수 (명)
(시점, 시점)                                            ...
2014-03-01    149232    150184    181376    186949  ...    262185    255598
2014-04-01    149265    150337    181154    186739  ...    262211    255479
2014-05-01    149203    150318    180923    186468  ...    261951    255363
2014-06-01    149082    150246    180666    186273  ...    261623    255125
2014-07-01    148906    150133    180365    185943  ...    261331    254772
...              ...       ...       ...       ...  ...       ...       ...
2023-01-01    134979    143056    161662    174632  ...    243673    240286
2023-11-01    134760    142941    161430    174424  ...    242985    239707
2023-12-01    134519    142842    161277    174277  ...    242651    239305
2024-01-01    134390    142700    161154    174181  ...    242598    239274
2024-02-01    134278    142674    161022    174178  ...    242703    239131

                 서초구                 강남구                 송파구            \
           남자인구수 (명) 여자인구수 (명) 남자인구수 (명) 여자인구수 (명) 남자인구수 (명) 여자인구수 (명)
(시점, 시점)
2014-03-01    214053    229619    271343    293959    328684    343612
2014-04-01    213806    229424    272032    294722    328202    343229
2014-05-01    213802    229551    272775    295503    327978    342999
2014-06-01    214062    229878    272991    295876    327710    342833
2014-07-01    214625    230563    273642    296689    327287    342586
...              ...       ...       ...       ...       ...       ...
2023-01-01    194384    213404    258897    282668    314985    340315
2023-11-01    194526    213572    258700    282430    314665    340180
2023-12-01    194291    213373    260520    284353    314347    339819
2024-01-01    194231    213537    262618    286536    314189    339800
2024-02-01    194232    213764    264695    288860    314043    339879

                 강동구
           남자인구수 (명) 여자인구수 (명)
(시점, 시점)
2014-03-01    240832    241375
2014-04-01    240526    241073
2014-05-01    240192    240886
2014-06-01    240008    240797
2014-07-01    239638    240425
...              ...       ...
2023-01-01    223930    234362
2023-11-01    224240    234584
2023-12-01    224423    234744
2024-01-01    224450    234939
2024-02-01    224986    235529

[120 rows x 50 columns]

- index 이름 초기화
- Multi columns 이름 설정

In [123]:
df1.index.name = None
df1.columns.names = ["구", "성별"]
df1

구                종로구                  중구                 용산구            \
성별         남자인구수 (명) 여자인구수 (명) 남자인구수 (명) 여자인구수 (명) 남자인구수 (명) 여자인구수 (명)
2014-03-01     79153     80398     65029     64911    116309    123072
2014-04-01     78943     80366     64922     64818    116127    122874
2014-05-01     78821     80269     64842     64801    116034    122886
2014-06-01     78678     80143     64745     64685    115857    122666
2014-07-01     78394     79990     64638     64598    115651    122400
...              ...       ...       ...       ...       ...       ...
2023-01-01     67466     72140     58720     62580    103398    111999
2023-11-01     67393     72104     58631     62599    102925    111456
2023-12-01     67306     72111     58659     62653    102312    110839
2024-01-01     67240     72138     58651     62671    101793    110382
2024-02-01     67266     72205     58711     62708    101262    109985

구                성동구                 광진구            ...       관악구            \
성별         남자인구수 (명) 여자인구수 (명) 남자인구수 (명) 여자인구수 (명)  ... 남자인구수 (명) 여자인구수 (명)
2014-03-01    149232    150184    181376    186949  ...    262185    255598
2014-04-01    149265    150337    181154    186739  ...    262211    255479
2014-05-01    149203    150318    180923    186468  ...    261951    255363
2014-06-01    149082    150246    180666    186273  ...    261623    255125
2014-07-01    148906    150133    180365    185943  ...    261331    254772
...              ...       ...       ...       ...  ...       ...       ...
2023-01-01    134979    143056    161662    174632  ...    243673    240286
2023-11-01    134760    142941    161430    174424  ...    242985    239707
2023-12-01    134519    142842    161277    174277  ...    242651    239305
2024-01-01    134390    142700    161154    174181  ...    242598    239274
2024-02-01    134278    142674    161022    174178  ...    242703    239131

구                서초구                 강남구                 송파구            \
성별         남자인구수 (명) 여자인구수 (명) 남자인구수 (명) 여자인구수 (명) 남자인구수 (명) 여자인구수 (명)
2014-03-01    214053    229619    271343    293959    328684    343612
2014-04-01    213806    229424    272032    294722    328202    343229
2014-05-01    213802    229551    272775    295503    327978    342999
2014-06-01    214062    229878    272991    295876    327710    342833
2014-07-01    214625    230563    273642    296689    327287    342586
...              ...       ...       ...       ...       ...       ...
2023-01-01    194384    213404    258897    282668    314985    340315
2023-11-01    194526    213572    258700    282430    314665    340180
2023-12-01    194291    213373    260520    284353    314347    339819
2024-01-01    194231    213537    262618    286536    314189    339800
2024-02-01    194232    213764    264695    288860    314043    339879

구                강동구
성별         남자인구수 (명) 여자인구수 (명)
2014-03-01    240832    241375
2014-04-01    240526    241073
2014-05-01    240192    240886
2014-06-01    240008    240797
2014-07-01    239638    240425
...              ...       ...
2023-01-01    223930    234362
2023-11-01    224240    234584
2023-12-01    224423    234744
2024-01-01    224450    234939
2024-02-01    224986    235529

[120 rows x 50 columns]

- 시기별 서울시 전체 인구 계산

In [126]:
colList = list(df1.columns.get_level_values("구").unique())
len(colList)

25

In [141]:
df1_sum = pd.DataFrame()

for column in colList:
    temp = df1[column]
    temp[f"{column} 합계"] = temp.sum(axis = 1)
    
    df1_sum = pd.concat([df1_sum, temp[[f"{column} 합계"]]], axis = 1)

In [142]:
df1_sum["서울시"] = df1_sum.sum(axis = 1)
df1_sum

성별,종로구 합계,중구 합계,용산구 합계,성동구 합계,광진구 합계,동대문구 합계,중랑구 합계,성북구 합계,강북구 합계,도봉구 합계,...,구로구 합계,금천구 합계,영등포구 합계,동작구 합계,관악구 합계,서초구 합계,강남구 합계,송파구 합계,강동구 합계,서울시
2014-03-01,159551,129940,239381,299416,368325,363567,418475,475951,337210,357736,...,426912,240524,385993,411275,517783,443672,565302,672296,482207,10141727
2014-04-01,159309,129740,239001,299602,367893,363331,418080,475278,336797,357403,...,427391,240281,386063,411194,517690,443230,566754,671431,481599,10137313
2014-05-01,159090,129643,238920,299521,367391,362962,417986,474557,336724,356890,...,427584,240179,386002,411369,517314,443353,568278,670977,481078,10133734
2014-06-01,158821,129430,238523,299328,366939,362413,418158,473359,336889,356599,...,427854,239823,385654,410969,516748,443940,568867,670543,480805,10129223
2014-07-01,158384,129236,238051,299039,366308,361866,418754,472334,336867,356031,...,427875,239660,385070,410552,516103,445188,570331,669873,480063,10125912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-01,139606,121300,215397,278035,336294,341521,382390,426892,289372,307470,...,393459,228274,375276,379640,483959,407788,541565,655300,458292,9400249
2023-11-01,139497,121230,214381,277701,335854,341510,381858,426276,288735,307070,...,392967,227701,374920,379186,482692,408098,541130,654845,458824,9390925
2023-12-01,139417,121312,213151,277361,335554,341149,382155,425602,288113,306948,...,392405,227481,374794,378769,481956,407664,544873,654166,459167,9386034
2024-01-01,139378,121322,212175,277090,335335,340983,382284,424916,287490,306722,...,392311,227457,374985,378360,481872,407768,549154,653989,459389,9384325
2024-02-01,139471,121419,211247,276952,335200,341620,382322,424853,287040,306542,...,391671,227268,374968,378283,481834,407996,553555,653922,460515,9386705

In [144]:
df1_prop = df1_sum.divide(df1_sum["서울시"], axis = 0)
df1_prop = df1_prop.apply(lambda x: x*100)
df1_prop

성별,종로구 합계,중구 합계,용산구 합계,성동구 합계,광진구 합계,동대문구 합계,중랑구 합계,성북구 합계,강북구 합계,도봉구 합계,...,구로구 합계,금천구 합계,영등포구 합계,동작구 합계,관악구 합계,서초구 합계,강남구 합계,송파구 합계,강동구 합계,서울시
2014-03-01,1.573213,1.281241,2.360357,2.952318,3.631778,3.584863,4.126270,4.692998,3.324976,3.527368,...,4.209461,2.371628,3.805989,4.055276,5.105472,4.374718,5.574021,6.629009,4.754683,100.0
2014-04-01,1.571511,1.279826,2.357637,2.955438,3.629098,3.584096,4.124170,4.688402,3.322350,3.525619,...,4.216019,2.370263,3.808337,4.056243,5.106777,4.372263,5.590771,6.623363,4.750756,100.0
2014-05-01,1.569905,1.279321,2.357670,2.955682,3.625426,3.581720,4.124699,4.682943,3.322803,3.521802,...,4.219412,2.370094,3.809080,4.059402,5.104871,4.375021,5.607785,6.621222,4.747293,100.0
2014-06-01,1.567948,1.277788,2.354801,2.955093,3.622578,3.577895,4.128234,4.673201,3.325912,3.520497,...,4.223957,2.367635,3.807340,4.057261,5.101556,4.382765,5.616097,6.619886,4.746712,100.0
2014-07-01,1.564146,1.276290,2.350909,2.953206,3.617531,3.573663,4.135469,4.664607,3.326782,3.516039,...,4.225545,2.366799,3.802818,4.054469,5.096854,4.396523,5.632391,6.615434,4.740936,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-01,1.485131,1.290391,2.291397,2.957741,3.577501,3.633106,4.067871,4.541284,3.078344,3.270871,...,4.185623,2.428382,3.992192,4.038616,5.148364,4.338055,5.761177,6.971092,4.875318,100.0
2023-11-01,1.485445,1.290927,2.282853,2.957121,3.576368,3.636596,4.066245,4.539233,3.074617,3.269859,...,4.184540,2.424692,3.992365,4.037792,5.139984,4.345663,5.762265,6.973168,4.885823,100.0
2023-12-01,1.485366,1.292473,2.270938,2.955039,3.575035,3.634645,4.071528,4.534418,3.069593,3.270263,...,4.180733,2.423612,3.993103,4.035453,5.134821,4.343304,5.805146,6.969568,4.892024,100.0
2024-01-01,1.485221,1.292815,2.260951,2.952690,3.573352,3.633538,4.073644,4.527934,3.063513,3.268450,...,4.180492,2.423797,3.995865,4.031830,5.134861,4.345203,5.851822,6.968951,4.895280,100.0
2024-02-01,1.485836,1.293521,2.250492,2.950471,3.571008,3.639403,4.073016,4.526114,3.057942,3.265704,...,4.172614,2.421169,3.994671,4.029987,5.133154,4.346531,5.897224,6.966470,4.906035,100.0

- 남자 인구 통계

In [145]:
male_population = df1.xs('남자인구수 (명)', level='성별', axis=1)
male_population["서울시"] = male_population.sum(axis = 1).astype(int)
male_population

구,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,성북구,강북구,도봉구,...,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구,강동구,서울시
2014-03-01,79153,65029,116309,149232,181376,182569,209437,234031,166477,176633,...,214094,123153,193511,202360,262185,214053,271343,328684,240832,5004714
2014-04-01,78943,64922,116127,149265,181154,182453,209237,233642,166297,176466,...,214301,122965,193532,202360,262211,213806,272032,328202,240526,5002036
2014-05-01,78821,64842,116034,149203,180923,182255,209132,233288,166279,176232,...,214438,122865,193398,202416,261951,213802,272775,327978,240192,4999497
2014-06-01,78678,64745,115857,149082,180666,181956,209176,232703,166282,176032,...,214471,122662,193218,202200,261623,214062,272991,327710,240008,4996391
2014-07-01,78394,64638,115651,148906,180365,181666,209472,232137,166214,175741,...,214476,122584,192909,201959,261331,214625,273642,327287,239638,4994112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-01,67466,58720,103398,134979,161662,167569,187618,204851,140185,149132,...,192957,114845,184010,183620,243673,194384,258897,314985,223930,4548150
2023-11-01,67393,58631,102925,134760,161430,167556,187262,204546,139850,148907,...,192669,114552,183803,183420,242985,194526,258700,314665,224240,4543055
2023-12-01,67306,58659,102312,134519,161277,167346,187372,204171,139514,148796,...,192341,114414,183726,183153,242651,194291,260520,314347,224423,4540031
2024-01-01,67240,58651,101793,134390,161154,167230,187392,203824,139141,148670,...,192252,114471,183769,182934,242598,194231,262618,314189,224450,4538354
2024-02-01,67266,58711,101262,134278,161022,167462,187319,203753,138846,148545,...,191937,114348,183591,182915,242703,194232,264695,314043,224986,4538306

In [146]:
male_prop = male_population.divide(male_population["서울시"], axis = 0).drop("서울시", axis = 1)
male_prop["비율 합"] = male_prop.sum(axis = 1)
male_prop

구,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,성북구,강북구,도봉구,...,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구,강동구,비율 합
2014-03-01,0.015816,0.012994,0.023240,0.029818,0.036241,0.036479,0.041848,0.046762,0.033264,0.035293,...,0.042778,0.024607,0.038666,0.040434,0.052388,0.042770,0.054217,0.065675,0.048121,1.0
2014-04-01,0.015782,0.012979,0.023216,0.029841,0.036216,0.036476,0.041830,0.046709,0.033246,0.035279,...,0.042843,0.024583,0.038691,0.040456,0.052421,0.042744,0.054384,0.065614,0.048086,1.0
2014-05-01,0.015766,0.012970,0.023209,0.029844,0.036188,0.036455,0.041831,0.046662,0.033259,0.035250,...,0.042892,0.024575,0.038683,0.040487,0.052395,0.042765,0.054560,0.065602,0.048043,1.0
2014-06-01,0.015747,0.012958,0.023188,0.029838,0.036159,0.036417,0.041865,0.046574,0.033280,0.035232,...,0.042925,0.024550,0.038672,0.040469,0.052362,0.042843,0.054638,0.065589,0.048036,1.0
2014-07-01,0.015697,0.012943,0.023157,0.029816,0.036116,0.036376,0.041944,0.046482,0.033282,0.035190,...,0.042946,0.024546,0.038627,0.040439,0.052328,0.042976,0.054793,0.065535,0.047984,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-01,0.014834,0.012911,0.022734,0.029678,0.035545,0.036843,0.041251,0.045041,0.030822,0.032790,...,0.042425,0.025251,0.040458,0.040372,0.053576,0.042739,0.056924,0.069256,0.049235,1.0
2023-11-01,0.014834,0.012906,0.022655,0.029663,0.035533,0.036882,0.041219,0.045024,0.030783,0.032777,...,0.042410,0.025215,0.040458,0.040374,0.053485,0.042818,0.056944,0.069263,0.049359,1.0
2023-12-01,0.014825,0.012920,0.022536,0.029630,0.035523,0.036860,0.041271,0.044971,0.030730,0.032774,...,0.042366,0.025201,0.040468,0.040342,0.053447,0.042795,0.057383,0.069239,0.049432,1.0
2024-01-01,0.014816,0.012923,0.022429,0.029612,0.035509,0.036848,0.041291,0.044911,0.030659,0.032759,...,0.042362,0.025223,0.040492,0.040308,0.053455,0.042798,0.057866,0.069230,0.049456,1.0
2024-02-01,0.014822,0.012937,0.022313,0.029588,0.035481,0.036900,0.041275,0.044896,0.030594,0.032731,...,0.042293,0.025196,0.040454,0.040305,0.053479,0.042798,0.058325,0.069198,0.049575,1.0